---
layout: base
---

<div class="b-head">
  <nav class="navbar m-b-0">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-com">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <h4 class="m-y-0">Николай Воробьёв</h4>
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-com">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="js-scr" href="#who">Кто тренер</a></li>
          <li><a class="js-scr" href="#join-anchor">Записаться</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container p-y-lg">
    <h4><b>старт каждый понедельник, онлайн</b></h4>

    <h2>Бизнес <small><span class="icon icon-heart text-muted heart"></span></small> по&nbsp;любви</h2>

    <h1>Начни дело, которое будет приносить тебе деньги и&nbsp;удовольствие</h1>

    <p class="m-t-md">
      <button type="button" data-toggle="modal" data-target="#modal-course" class="btn btn-primary btn-lg hidden">Я готов начать</button>
    </p>
  </div>
</div>

{% include modalform.html id="modal-course" title="Регистрация на курс" headline="Весь курс сразу = 25&nbsp;000&nbsp;руб." offer="Бизнес по любви Весь курс сразу за 25000" trello-list-id="582dff7c3b8cc8c719d654f5" ac-form-id="23" buttontext="Отправить и перейти к оплате" %}

{% include modalform.html id="modal-week" title="Регистрация на курс" headline="Первая неделя = 8&nbsp;000&nbsp;руб." offer="Бизнес по любви Первая неделя за 8000" trello-list-id="582dff7c3b8cc8c719d654f5" ac-form-id="27" buttontext="Отправить и перейти к оплате" %}

<div class="block block-bordered">
  <div class="container">
    <p><b>— Почему большинство людей в корне несчастны?</b></p>
    <p>— Потому что занимаются нелюбимым делом.</p>

    <p><b>— А почему они занимаются нелюбимым делом?</b></p>
    <p>— Потому что им нужны деньги.</p>

    <p><b>— А разве нельзя совместить первое и второе?</b></p>
    <h2>— Можно, и каждый в душе этого хочет, но не у каждого хватает на это смелости</h2>
  </div>
</div>

<div class="block block-bordered b-enjoy">
  <div class="container">
    <h1 class="text-center m-b-lg">Курс «Бизнес по любви» создан для тебя</h1>
    <div class="row">
      <div class="col-md-3">
        <span class="icon icon-emoji-happy" style="color: #aa0;"></span>
        <p>Если ты уже созрел для&nbsp;открытия бизнеса</p>
      </div>
      <div class="col-md-3">
        <span class="icon icon-address" style="color: #00a;"></span>
        <p>Не&nbsp;хочешь заниматься «лишь&nbsp;бы&nbsp;чем»</p>
      </div>
      <div class="col-md-3">
        <span class="icon icon-heart" style="color: #a00;"></span>
        <p>Тебе важно выбрать дело, которое ты&nbsp;будешь любить</p>
      </div>
      <div class="col-md-3">
        <span class="icon icon-flower" style="color: #090;"></span>
        <p>Хочешь зарабатывать на&nbsp;своём любимом деле</p>
      </div>
    </div>
  </div>
</div>

<div class="block block-bordered" id="join">
  <div class="container">
    <h1>«Бизнес по любви» — это системная работа над собой и&nbsp;своим будущим бизнесом в&nbsp;течение 1&nbsp;месяца</h1>

    <p class="lead m-b-lg">Каждую неделю ты будешь работать над одной из&nbsp;сфер, которая позволит обрести силы, видение и&nbsp;четкий план действий по старту любимого бизнеса.</p>

    <div class="row">
      <div class="col-md-3 m-b-lg">
        <h2 class="text-muted" id="join-anchor">Неделя 1</h2>
        <h3>Понимание себя</h3>

        <div class="week">
          <p>1. Карта желаний</p>
          <p>2. Карта возможностей</p>
          <p>3. Карта интересов</p>
          <p>4. Карта смысла</p>
          <p>5. Скрытые желания и скрытые смыслы</p>
        </div>

        <p class="lead m-t-md">
          <b>8000р</b>
        </p>
        <p class="lead">
          <button type="button" data-toggle="modal" data-target="#modal-week" class="btn btn-primary btn-lg">Зарегистрироваться на первую неделю</button>
        </p>
      </div>

      <div class="col-md-3 m-b-lg">

        <h2 class="text-muted">Неделя 2</h2>
        <h3>100 интересных целей</h3>

        <div class="week">
          <p>6. Ценности и важность</p>
          <p>7. Поиск пересечений</p>
          <p>8. Черновые цели</p>
          <p>9. Альтернативные способы реализации</p>
        </div>
        <p class="lead m-t-md text-muted">
          8000р
        </p>
      </div>

      <div class="col-md-3 m-b-lg">

        <h2 class="text-muted">Неделя 3</h2>
        <h3>Вдохновляющая цель</h3>

        <div class="week">
          <p>10. Критика и подводные камни</p>
          <p>11. Устранение сомнений</p>
          <p>12. Конкретизация цели</p>
          <p>13. Подъём ставок и подогрев интереса</p>
          <p>14. Визуализация цели</p>
        </div>
        <p class="lead m-t-md text-muted">
          8000р
        </p>
      </div>

      <div class="col-md-3 m-b-lg">

        <h2 class="text-muted">Неделя 4</h2>
        <h3>Первый заказ</h3>

        <div class="week">
          <p>15. Анализ рынка</p>
          <p>16. Портрет целевой аудитории</p>
          <p>17. Прокачка экспертности</p>
          <p>18. Первичная монетизация</p>
          <p>19. План развития бизнеса</p>
        </div>
        <p class="lead m-t-md text-muted">
          8000р
        </p>
      </div>
    </div>

    <p class="lead text-center">или</p>
    <h1 class="text-center m-b-md">Зарегистрируйся на весь курс сразу</h1>

    <p class="lead text-center m-t-md">
      8000 + 8000 + 8000 + 8000 = <s>36000 рублей</s>
    </p>
    <p class="lead text-center">
      <b>25000 рублей</b> при оплате курса целиком
    </p>
    <p class="lead text-center">
      <button type="button" data-toggle="modal" data-target="#modal-course" class="btn btn-primary btn-lg">Зарегистрироваться на весь курс</button>
    </p>
  </div>
</div>

<div class="block block-bordered">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Что входит в курс?</h1>
        <p>
          — Доступ к 19 видео-урокам;
          <br/>— Доступ к 100% заданий;
          <br/>— <b>Персональная обратная связь</b> тренера на каждое задание;
          <br/>— Доступ ко всей базе знаний с материалами;
          <br/>— Доступ к сообществу участников.
        </p>

        <h2 class="m-t-lg">И это ещё не всё!</h2>

        <p>
          1. Запись 50 уроков по прокачке личных качеств, которые необходимы предпринимателю;
          <br/>2. Бесплатный доступ на полгода в закрытый клуб личностного роста.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="block b-me" id="who">
  <div class="container">
    <span class="b-me__sign">Николай Воробьёв</span>
    <div class="row">
      <div class="col-sm-7">
        <h1>Автор курса — Николай Воробьёв</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="text-muted">Добился как бизнесмен</h3>
            <ul class="iconlist">
              <li><span class="icon icon-check"></span> 15&nbsp;лет в&nbsp;бизнесе</li>
              <li><span class="icon icon-check"></span> Продал программное обеспечение каждой четвёртой поликлинике Москвы</li>
              <li><span class="icon icon-check"></span> Сотрудничал с правительством Лен.области, Бурятии и&nbsp;Адыгеи по&nbsp;автоматизации бюджетного процесса</li>
              <li><span class="icon icon-check"></span> Построил международную тренинговую компанию с&nbsp;филиалами в&nbsp;СПб, Мск, Киеве, Праге, Дортмунде, Краснодаре, Новосибе, Омске, Томске, Кемерово, Алма-Ате, Перми</li>
              <li><span class="icon icon-check"></span> Собрал мастер-класс в&nbsp;Перми на&nbsp;1012 человек</li>
              <li><span class="icon icon-check"></span> 61&nbsp;050 человек в&nbsp;базе контактов</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h3 class="text-muted">Добился как тренер</h3>
            <ul class="iconlist">
              <li><span class="icon icon-check"></span> 14 лет в&nbsp;тренерстве</li>
              <li><span class="icon icon-check"></span> Обучил 14&nbsp;986 человек </li>
              <li><span class="icon icon-check"></span> Выпустил 3&nbsp;книги </li>
              <li><span class="icon icon-check"></span> Выступал на 1, 5 канале и&nbsp;ТНТ в&nbsp;России, 1+1, ТЕТ и&nbsp;СТБ Украины, RadioMETRO Санкт-Петербурга</li>
              <li><span class="icon icon-check"></span> Снял 2 сезона реалити-подкаста про достижение людьми своих целей в&nbsp;бизнесе</li>
              <li><span class="icon icon-check"></span> Провёл тренинги в&nbsp;24 городах 8 стран</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-bordered block-inverse text-center">
  <div class="container">
    <h1>Позволь себе стать свободным и счастливым</h1>
    <h1 class="m-b-lg">Начни дело своей мечты</h1>
    <p class="lead">Действуй.</p>
    <p class="m-t-lg"><a href="#join-anchor" class="js-scr btn btn-default">Зарегистрироваться</a></p>
  </div>
</div>
